@model ASP.Net_Mvc_core.Models.Order

<h2>Order Details</h2>

<table class="table">
    <tr>
        <th>Order ID</th>
        <td>@Model.OrderId</td>
    </tr>
    <tr>
        <th>Customer ID</th>
        <td>@Model.CustomerId</td>
    </tr>
    <!-- Add other table rows for OrderDate, RequiredDate, etc. -->
</table>
